*.gem
*.rbc
/.config
/coverage/
/spec/reports/
/spec/examples.txt
/tmp/
/.idea/

# Used by dotenv library to load environment variables.
# .env

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

.rspec-local
.ruby-version
.ruby-gemset
